.profile {
  display: grid;
  place-items: center;
  justify-content: center;
}
.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.profile-info {
  font-size: 1.2rem;
  line-height: 1.5;
}
