.container{
  display: flex; 
  margin-top: 2rem; 
 

 gap: 2rem;
 grid-template-columns: repeat(3,1fr);
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  font-size: 1.2rem;
  line-height: 1.5;
}
@media screen and (m-width: 768px) {
  .container{
    display:grid;
  grid-template-columns: 1fr;  }
  
}